<!-- Componente header -->
<app-header></app-header>

<ion-content [fullscreen]="true">
  <!-- <ion-img [src]="imagem"></ion-img> -->
  <form [formGroup]="form" (submit)="cadastroButton()">

    <ion-item>
      <ion-label position="floating">Endereço da imagem :</ion-label>
      <ion-input type="text" formControlName="url"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Titulo:</ion-label>
      <ion-input type="text" formControlName="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">ingrediente:</ion-label>
      <ion-input type="text" formControlName="ingrediente"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">preparo:</ion-label>
      <ion-input type="text" formControlName="preparo"></ion-input>
    </ion-item>
    
      <ion-button expand="block" [disabled]="form.invalid" type="submit">{{nameButton}}</ion-button>
  
    </form>
</ion-content>
